@font-face {
  font-family: logoFont;
  src: url("fonts/BeStrongRegular.otf") format("opentype");
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #3b567f;
  font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  width: 100%;
}

@font-face {
  font-family: logoFont;
  src: url("fonts/BeStrongRegular.otf") format("opentype");
}

.tibillet-font {
  font-family: logoFont;
  color: #FFFFFF;
}

.tibillet-font-size1 {
  font-size: 4rem;
  line-height: 4rem;
  margin: 10px 0 8px 0;
}

.tibillet-font-size2 {
  font-size: 2rem;
  line-height: 2rem;
}

.BF-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BF-ligne {
  display: flex;
  flex-direction: row;
  /* axe ligne - x */
  justify-content: center;
  /* axe colonne - y */
  align-items: center;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  --danger-color: #FF0000;
  --success-color: #00FF00;
  --normal-color: #000000;
  --info-color: #0000FF;
  --error-color: #ffa600;
  --ifm-font-color-base: #FFFFFF;
}

#app-header {
  width: 100%;
  height: 20%;
}

#app-main {
  width: 100%;
  height: 50%;
}

#app-infos-container {
  width: 100%;
  height: 30%;
  background-color: #FFFFFF;
  font-size: 1.5rem;
  overflow-y: scroll;
}

#app-infos-devices {
  width: 100%;
  /* height: 50%;
  background-color: #00FF00; */
}

#app-infos-logs {
  width: 100%;
  /* height: 50%;
  background-color: #2f00ff; */
}

.info {
  padding: 4px 4px 0 4px;
}

.action {
  width: 180px;
  height: 60px;
  margin: 0 4px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c-black {
  color: #000000;
}

.bgc-blue {
  background-color: #0f53b9;
}

.bgc-green {
  background-color: #00FF00;
}

.label {
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-bottom: 0.3rem;
}

.info-danger {
  color: #ff0000;
  font-size: 1rem;
}

.devices-off {
  height: 100%;
}

.devices-off-item {
  margin: 0 16px;
}

.h100 {
  height: 100%;
}

#pin-code {
  font-size: 2rem;
  line-height: 2.4rem;
  width: 140px;
  text-align: center;
}

/* spinner */
.spinner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: .6;
  background-color: #1a1102;
  z-index: 9999;
  overflow: hidden;
}

.spinner {
  --spinner-size: 100px;
  width: var(--spinner-size);
  height: var(--spinner-size);
  border: 5px solid #FFF;
  border-bottom-color: #0000FF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}